# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# VS Code
.vscode/

# JetBrains
.idea/
*.iml

# Vim / Emacs
*~
*.swp
*.swo
\#*\#

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
