[user]
    name = zryyyy
    email = 37234999+zryyyy@users.noreply.github.com

[core]
    autocrlf = input
    eol = lf
    whitespace = blank-at-eol,blank-at-eof,space-before-tab
    quotePath = false
    excludesfile = ~/.dotfiles/git/.gitignore

[push]
    autoSetupRemote = true

[pull]
    rebase = true
    autostash = true

[fetch]
    prune = true

[merge]
    conflictStyle = zdiff3

[help]
    autocorrect = prompt

[branch]
    sort = -committerdate


# [includeIf "hasconfig:remote.*.url:**gitlab.com/**"]
#     path = ~/.dotfiles/git/.gitconfig-gitlab

[include]
    path = ~/.dotfiles/git/.gitconfig-local
